/* Tady vkladej svoje styly */

.light-gray-text {
  fill: #aaa;
  color: #aaa;
}

.eighteen {
  fill: #009FB8;
  font-weight: bold;
}

.nineteen {
  color: #3E80B6; 
  fill: #3E80B6;
  font-weight: bold;
}

.twenty {
  color: #e63946;
  fill: #e63946;
  font-weight: bold;
}